/* Modelo original: https://cleversoft-spacex.myshopify.com/ */

.oswald-h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  /* Se centra el body junto con todos sus contenedores principales uno encima del otro */
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  font-size: 1rem;
}

.marco {
  /* Solo válido durante el diseño - se da un borde para ver el contenedor en pantalla */
  border: solid 1px black;
}

.ancho-reducido {
  /* A todos los contenedores primarios (tienen al body como parent) se le da un ancho fijo respecto del body, */
  /* el cual se ajusta posteriorment según el viewport usado */
  width: 80%;
}

.menu-horizontal {
  /* Separación uniforme de los items de un menú horizontal */
}

.efecto-opcion-clickeable:hover {
  /* Dar un efecto a los elementos que funcionan como botones */
  color: blue;
  font-weight: 700;
  box-shadow: 10px 5px 0px black;
}

/* ---------------------------------------------------------------------------- */
/* Contenedor principal 1/6 en el body (opciones de login / registro)           */
/* ---------------------------------------------------------------------------- */
.contenedor-usuario {
  /* background-color: #f5f5f5; */
  background-color: gainsboro;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
}

.usuario-envio-gratuito {
  margin: 0.3rem;
}

.usuario-opciones {
  /* padding: 5px; */
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ---------------------------------------------------------------------------- */
/* Contenedor principal 2/6 en el body (logo space.x)                           */
/* ---------------------------------------------------------------------------- */
.contenedor-banner {
  display: flex;
  flex-direction: column nowrap;
  justify-content: center;
  margin-top: 2rem;
}

.logo {
  width: 10rem;
  margin: 10%;
}

/* ---------------------------------------------------------------------------- */
/* Contenedor principal 3/6 en el body (menúes de acceso a otras páginas)       */
/* ---------------------------------------------------------------------------- */

.contenedor-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.contenedor-menu-opciones {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3%;
  font-size: 1.5rem;
  margin-right: 2%;
}

.contenedor-menu-iconos {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  text-align: center;
  justify-content: flex-start;

  img {
    width: 40px;
  }
}

/* ---------------------------------------------------------------------------- */
/* Contenedor principal 4/6 en el body (imagen principal + textos)              */
/* ---------------------------------------------------------------------------- */

.contenedor-principal {
  /* Contenedor principal 4/6 en el body (imagen en tamaño grande) */
  background-image: url("../images/imagen_principal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 780px;
  /* width: 100%; */
  text-align: center;
  z-index: 0;

  h1 {
    margin-top: 3%;
    color: white;
    font-size: 5rem;
    font-family: Oswald, sans-serif !important;
  }

  h2 {
    color: white;
    font-size: 3rem;
  }
}

.boton-comprar {
  border-radius: 10%;
  border: none;
  background-color: #dc9916;
  width: 15rem;
  height: 5rem;
  color: white;
  font-size: large;
}

/* ---------------------------------------------------------------------------- */
/* Contenedor principal 5/6 en el body (2 bloques con imágenes)                 */
/* ---------------------------------------------------------------------------- */

.contenedor-imagenes {
  /* Contenedor principal 5/6 en el body (3 imágenes) */
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;

  img:hover {
    transition: 1s;
    transform: scale(1.2);
    border-radius: 10%;
  }
}

.imagenes-contenedor-izquierdo {
  background-image: url(../images/cuadro1_imagen1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
  height: 40rem;
  width: 40%;
  margin-left: 15%;
  text-align: left;
  z-index: 0;

  .boton-comprar {
    width: 8rem;
    height: 2rem;
    margin-top: 5%;
    font-size: large;
  }
}

.imagenes-contenedor-derecho {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 50%;

  img {
    margin: 1rem;
  }

  & img:nth-child(1),
  img:nth-child(2) {
    width: 35%;
    height: 50%;
  }

  & img:nth-child(3) {
    width: 75%;
    height: 40%;
  }
}

/* ---------------------------------------------------------------------------- */
/* Contenedor principal 6/6 en el body (4 tarjetas con imagen y texto)          */
/* ---------------------------------------------------------------------------- */

.contenedor-tarjetas {
  /* Contenedor principal 6/6 en el body (4 tarjetas) */
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 30rem;

  h1 {
    margin: 0% 0 3%;
  }

  .tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    /* margin-left: 10%; */
    gap: 5%;
  }

  .tarjeta-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
    width: 70%;
    height: 100%;

    img {
      width: 10rem;
      height: 10rem;
    }

    img:hover {
      transition: 1s;
      transform: scale(1.2);
      border-radius: 10%;
    }
  }
}

/* --------------------------------------------------------------------------- */
/* Ajustes para dispositivos de tipo tablet                                    */
/* --------------------------------------------------------------------------- */
/* @media all and (min-width: 500px) and (max-width: 800px) { */
@media all and (min-width: 700px) and (max-width: 1024px) {
  .ancho-reducido {
    width: 90%;
    padding: 2em;
  }

  .contenedor-usuario {
    font-size: 0.8em;

    .usuario-opciones {
      width: 40%;
    }
  }
  .contenedor-menu-opciones {
    font-size: 1.2em;
  }
  .contenedor-menu-iconos {
    img {
      width: 30px;
    }
  }

  .contenedor-principal {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  .imagenes-contenedor-izquierdo {
    height: 30rem;
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 0.8rem;
    }
    .boton-comprar {
      width: 8rem;
      height: 2rem;
      margin-top: 5%;
      font-size: medium;
    }
  }

  .imagenes-contenedor-derecho {
    img {
      margin: 0.5rem;
    }

    & img:nth-child(1),
    img:nth-child(2) {
      width: 40%;
      height: 40%;
    }

    & img:nth-child(3) {
      width: 85%;
      height: 40%;
    }
  }

  .contenedor-tarjetas {
    height: 25rem;

    h1 {
      margin: 0% 0 3%;
    }

    .tarjetas {
      width: 80%;
      margin-left: 8%;
      gap: 3%;
    }

    .tarjeta-individual {
      width: 70%;
      height: 100%;
    }
  }
}

/* --------------------------------------------------------------------------- */
/* Ajustes para dispositivos de tipo celular                                   */
/* --------------------------------------------------------------------------- */
@media screen and (max-width: 700px) {
  .ancho-reducido {
    padding: 1em;
  }

  .item-menu {
    padding-top: 0.5em;
  }

  .contenedor-usuario {
    padding: 0.5em;
    font-size: 0.8em;

    .usuario-opciones {
      flex-direction: column;
    }
  }

  .contenedor-menu-opciones {
    font-size: 1.2em;
    flex-direction: column;
  }
  .contenedor-menu-iconos {
    flex-direction: column;
    img {
      width: 35px;
    }
  }

  .contenedor-principal {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .imagenes-contenedor-izquierdo {
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
    .boton-comprar {
      width: 7rem;
      height: 1.5rem;
      margin-top: 2%;
      font-size: small;
    }
  }

  .imagenes-contenedor-derecho {
    height: 30em;

    img {
      margin: 0.5rem;
    }

    & img:nth-child(1),
    img:nth-child(2) {
      width: 70%;
      height: 40%;
    }

    & img:nth-child(3) {
      width: 70%;
      height: 40%;
    }
  }

  .contenedor-tarjetas {
    height: 25rem;

    h1 {
      margin: 0% 0 3%;
    }

    .tarjetas {
      width: 80%;
      margin-left: 8%;
      gap: 3%;
    }

    .tarjeta-individual {
      width: 70%;
      height: 100%;
    }
  }
}

/*
Equipo 2:
Santiago Fernandez
Fabián Romero
Esteban Rodriguez
Federico Arrigone
*/
